.socials-section__title {
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--color-one--);
    text-transform: uppercase;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
  }
  .socials-section{
  width: 206px;
  }
  
  .socials-section__list{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-top: 20px;
  }
  
  .socials-section__icon {
    fill: var(--color-one--);
  }
  
  .socials-section__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .socials-section__link:hover,
  .socials-section__link:focus {
    background-color: var(--color-two--);
  }
  .socials-section__link:hover .socials-section__icon, 
  .socials-section__link:focus .socials-section__icon {
    fill: #ffffff;
  }
  
  